
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container border backgroundWhite">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-primary">User List</h2>
            </div>
            <div class="col-6 text-right">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary text-white"><i class="fas fa-plus"></i>&nbsp; User New</a>
                @*<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>*@
            </div>
        </div>  
        <br />
        <table id="DT_Load" class="table-striped table-bordered table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Control</th>
                </tr>
            </thead>

        </table>
    </div>

@section Scripts{ 
    <script src="~/js/userApplication.js"></script>
}

